{% block bar %}
   {% include "base.html" %}
{% endblock %}
<html>
<body>
<div id="">
    <div class="container-fluid todolist" style="margin: 20px 60px 40px 40px">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <h2>Bootstrap Application</h2><br>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="box box-info">
                                <div class="btn-block">
                                    <form id="bootstrapForm" name="bootstrapForm" action="/bootstrap/" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="upload">Upload Zip files here</label>
                                            <input type="file" class="form-control btn-primary" id="bootstrap_input" name="bootstrap_input" accept=".zip"
                                                   onchange="$('#upload-file-info').html(this.files[0].name)"/>
                                            <br/>
                                        </div>
                                        <button class="btn btn-primary" id="bootstrapBtn" name="bootstrapBtn">Bootstrap</button>
                                    </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box box-info -->
                        </div><!-- /.row -->

                        <div class="row">
                            <div class='box'>
                                <div class='box-header with-border'>
                                    <h3 class='box-title'>Lines Loaded</h3>
                                    <div class='box-body'>
                                        <table class='table table-bordered'>
                                            <tr>
                                                <th style='width: 10px'>#</th>
                                                <th>File Name</th>
                                                <th style='width:40px'>Loaded</th>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>course.csv</td>
                                                <td><span class='badge bg-light-blue'>successful</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="box-header with-border">
                                <h3 class="box-title">Upload results..</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                No errors
                            </div><!-- /.box-body -->
                        </div><!-- /.box box solid -->
                    </div><!-- /.col-xs-8 col-sm-8 col-md-8 col-lg-8 -->
                </div><!-- /.row -->

                <br>
                <div class="row">
                    <table class="table table-bordered table-responsive" id="loaded-rows" class="display" cellspacing="5px" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Salary</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>$320,800</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section><!-- /.content -->
        </div>
    </div><!-- /.container fluid -->
</div><!-- /.page wrapper -->
{% load static %}
<script src="{% static 'js/ajaxpost.js' %}"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#loaded-rows').DataTable();
    });

    $("#bootstrapBtn").click(function (event) {
        event.preventDefault();
        var formData = new FormData($('#bootstrapForm')[0]);
        $.ajax({
            type: 'POST',
            url: '/bootstrap/',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
                if (data.status == 'success') {
                    //alert(data.message);
                    var duplicateErrorSize = Object.keys(data.duplicate).length;
                    var validationErrorSize = Object.keys(data.validation).length;

                    if (duplicateErrorSize == 0 && validationErrorSize == 0) {
                        alert(data.message);
                    } else {
                        if (duplicateErrorSize != 0) {
                            alert(data.message + " with duplicate entries. You may choose to rectify or ignore.")
                            for (file in data.duplicate) {
                                alert(file + " - " + data.duplicate[file]);
                            }
                        }
                        if (validationErrorSize != 0) {
                            alert(data.message + " with validation errors. Please rectify.")
                            for (file in data.validation) {
                                alert(file + " - " + data.validation[file]);
                            }
                        }
                    }
                    $('#bootstrapForm')[0].reset();
                } else {
                    //location.reload();
                    alert(data.message);
                    $('#bootstrapForm')[0].reset();
                }
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    });
</script>


</body>
</html>

