{% block bar %}
   {% include "base.html" %}
{% endblock %}
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

<html>
<body>
<div id="">
    <div class="container-fluid todolist" style="margin: 20px 60px 40px 40px">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <h2>Bootstrap Application</h2><br>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="box box-info">
                                <div class="btn-block">
                                    <form id="bootstrapForm" name="bootstrapForm" action="/bootstrap/" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="upload">Upload Zip files here</label>

                                            <p id="fileUploadError" class="text-danger hide"></p>

                                            <div class="list-group" id="files"></div>

                                            <script id="fileUploadProgressTemplate" type="text/x-jquery-tmpl">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                                </div>
                                            </script>

                                            <div class="box-body">
                                                <div class="alert alert-warning" id="alert-box" role="alert" style="display: none;"></div>
                                                <div class="alert alert-success" id="success" role="alert" style="display: none"></div>
                                            </div><!-- /.box-body -->

                                            <input type="file" class="form-control btn-primary" id="bootstrap_input" name="bootstrap_input" accept=".zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed"
                                                   onchange="$('#upload-file-info').html(this.files[0].name)"/>
                                            <br/>
                                        </div>
                                        <button class="btn btn-primary" id="bootstrapBtn" name="bootstrapBtn">Bootstrap</button>
                                    </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box box-info -->
                        </div><!-- /.row -->
                        <!--
                        <div class="row">
                            <div class='box'>
                                <div class='box-header with-border'>
                                    <h3 class='box-title'>Lines Loaded</h3>
                                    <div class='box-body'>
                                        <table class='table table-bordered'>
                                            <tr>
                                                <th style='width: 10px'>#</th>
                                                <th>File Name</th>
                                                <th style='width:40px'>Loaded</th>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>course.csv</td>
                                                <td><span class='badge bg-light-blue'>successful</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div><!-- /.col-md-12 -->

                </div><!-- /.row -->

                <br>
                <div class="row" id="resultchunk" style="display:none;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="box-header with-border">
                                <h3 class="box-title">Upload results</h3>
                            </div><!-- /.box-header -->
                        </div><!-- /.box box solid -->
                    </div><!-- /.col-xs-8 col-sm-8 col-md-8 col-lg-8 -->

                    <table class="table table-bordered table-responsive" id="loaded-rows" class="display" cellspacing="5px" width="100%">
                        <thead>
                        <tr>
                            <th>File</th>
                            <th>Error Type</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section><!-- /.content -->
        </div>
    </div><!-- /.container fluid -->
</div><!-- /.page wrapper -->
{% load static %}
<script src="{% static 'js/ajaxpost.js' %}"></script>

<script type="text/javascript" charset="utf-8">

    $("#bootstrapBtn").click(function (event) {
        event.preventDefault();
        document.getElementById("alert-box").style.display = 'none';
        document.getElementById("success").style.display = 'none';
        document.getElementById("resultchunk").style.display = 'none';
        $('#alert-box').empty(); //clear alert messages
        $('#success').empty(); //clear success message
        $("#files").append($("#fileUploadProgressTemplate").tmpl());
        var formData = new FormData($('#bootstrapForm')[0]);
        $.ajax({
            type: 'POST',
            url: '/bootstrap/',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            xhr: function() {

            var xhr = $.ajaxSettings.xhr();
            if (xhr.upload) {
                xhr.upload.addEventListener('progress', function(event) {
                    //var percent = (event.loaded / event.total) * 100;
                    //var percent = 100;
                    //$("#files").find(".progress-bar").width(percent + "%");
                }, false);
            }
            return xhr;
        },
            success: function(data) {
                if (data.status == 'success') {
                    //alert(data.message);
                    document.getElementById("resultchunk").style.display = 'block';
                    var duplicateErrorSize = Object.keys(data.duplicate).length;
                    var validationErrorSize = Object.keys(data.validation).length;
                    var trHTML = '';
                    $("#files").children().last().remove(); //remove progressbar

                    if (duplicateErrorSize == 0 && validationErrorSize == 0) {
                        //alert(data.message);
                        document.getElementById("success").style.display = 'block';
                        $("#success").append(data.message);
                    } else {
                        if (duplicateErrorSize != 0) {
                            document.getElementById("alert-box").style.display = 'block';
                            $("#alert-box").append("Database is not updated with duplicated entries. Please rectify.");
                            //alert(data.message + " with duplicate entries. You may choose to rectify or ignore.")
                            for (file in data.duplicate) {
                                //alert(file + " - " + data.duplicate[file]);
                                trHTML += '<tr><td>' + file + '</td><td>' + 'Duplicate Entries' + '</td><td>' + String(data.duplicate[file]).split(",").join("<br />") + '</td></tr>';
                            }
                        }
                        if (validationErrorSize != 0) {
                            document.getElementById("alert-box").style.display = 'block';
                            $("#alert-box").append("Database is not updated with validation errors. Please rectify.");
                            //alert(data.message + " with validation errors. Please rectify.")
                            for (file in data.validation) {
                                //alert(file + " - " + data.validation[file]);
                                trHTML += '<tr><td class="col-md-2">' + file + '</td><td class="col-md-3">' + 'Validation Error' + '</td><td>' + String(data.validation[file]).split(",").join("<br />") + '</td></tr>';
                            }
                        }
                        $('#loaded-rows').find('tbody').empty(); //empty
                        $('#loaded-rows tbody').append(trHTML);
                        $('#loaded-rows').DataTable();
                    }
                    $('#bootstrapForm')[0].reset();
                } else {
                    document.getElementById("alert-box").style.display = 'block';
                    $("#alert-box").append(String(data.message).split(",").join("<br />"));
                    //alert(data.message);
                    $("#files").children().last().remove(); //remove progressbar
                    $('#bootstrapForm')[0].reset();
                }
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    });
</script>
</body>
</html>

