{% load static %}
<head>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/customize.css' %}"/>
    <script src={% static 'js/bootstrap.min.js' %}></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
    <script type="text/javascript" src="http://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

    {% url 'login' as login %}
    {% url 'recommendjob' as recommendjob %}
    {% url 'modulesearch' as modulesearch %}
    {% url 'courseplanner' as courseplanner %}
    {% url 'admin_index' as admin_index %}
    {% url 'userprofile' as userprofile %}
    {% url 'transitionjobpage' as transitionjobpage %}
    {% url 'courserequirement' as courserequirement %}
    {% url 'personalinterest' as personalinterest %}
    {% url 'logout' as logout %}
</head>
<nav class="navbar-static-top homepage-nav gradientNav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #fff; margin-top: -5px;" href="/"><img src="{% static 'img/np-white.png' %}" alt="" style="display: inline-block; height: 30px;">   Career Advisory</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                {% if request.session.role == 1 %}
                <li><a href="{{ recommendjob }}" class="whitetext">Jobs</a></li>
                <li><a href="{{ personalinterest }}" class="whitetext">Personal Interest</a></li>
                {%  endif %}

                {% if request.session.role == 3 %}
                <li><a href="{{ admin_index }}" class="whitetext">Account</a></li>
                {% endif %}

                {% if request.session.role == 1 %}
                <li class="dropdown" style="color: #fff;">
                    <a href="#" class="dropdown-toggle whitetext" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"> Course Guidance<span class="caret"></span></a>
                    <ul class="dropdown-menu">
{#                        <li><a href="{{ courseplanner }}">Course Planner</a></li>#}
                        <li><a href="{{ courserequirement }}">Course Requirement</a></li>
                        <li><a href="{{ modulesearch }}">Module Search</a></li>
                    </ul>
                </li>
                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if request.session == None %}
              <li><a href="{{ login }}" class="whitetext">Login</a></li>
            {% else %}
                <!--Only appear when signed in as user-->
                <li class="dropdown" style="color: #fff;">
                    <a href="#" class="dropdown-toggle whitetext" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
{#                        <li><a href="{{ userprofile }}">Profile</a></li>#}
                        <li role="separator" class="divider"></li>
                        <li id="logoutBtn" name="logoutBtn"><a href="#">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav><!-- End of Nav Bar -->

<script>
    $("#logoutBtn").click(function (event) {
        //alert("button is clicked");
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/logout/',
            dataType: 'json',
            success: function(data) {
                if (data.status == 'success') {
                    window.location.href = "/";
                } else {
                    alert(data.message);
                }
            },
        });
        return false;
    });
</script>