{% block bar %}
   {% include "base.html" %}
{% endblock %}
<style>
        .currentinterest{
        background-color: #e4e4e4;
        border: 1px solid #aaa;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px
    }

    .Internship, p[class^='Project']{
        background-color: rgb(217, 237, 247);
    }

</style>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/courserequirement-css.css' %}"/>
        <script src={% static 'js/courserequirement-js.js' %}></script>
    </head>
    <body>
    <header class="intro-header"  rel="preload" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/is480firestorm/hope.jpg); padding: 0 0;">
        <div class="container" style="padding:0 0 0 0 !important;">
            <div class="">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Course & Module Planner</h1>
                        <hr class="small">
                        <span class="subheading">View prescribed modules of your course. Select a specialization & plan your specialization electives.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

        <div class="container todolist">
            <div style="width:100%">
                <h3><span id="studentname">{{ student.name }}</span>'s Course Planner for {{ course.course_name }}</h3>
                Click on the tabs in the table below to view the module's description.
            </div>
            <hr/>
            <div style="" id="spec"></div>
            <div style="width:100%; float:left">
                <div class="dropdown" id="specialdropdown" style="float:left; margin-right:10px">
                  <button style="" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span id="selected">Select Specialization</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="specialisedropdown">

                  </ul>
                </div>
        {#        <button class="btn btn-primary" style="margin-left: 10px" id="save-spec-btn">Submit</button>#}
                <div id="success" style="display: none; margin-top:3px; font-size:18px; color:#3c763d"></div>
            </div>
        {#    <div id="interestelectives" style="display: none;">Possible electives to take:</div>#}

        <br/>

            <div class="row col-list">
                <div class="col-md-4 t1">
                    <div class="col-head text-center">
                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        <h2>Year 1</h2>
                    </div>
                    <ul class="list-unstyled">
                        <li><p class="contentBox" style="background-color: #e8e8e8; font-weight:bold">Semester 1</p></li>
                        {% for key, mod in module11.items%}
                            <li class="toggleContent">
                                <p style="cursor: pointer;" onClick="mod_click(this.id, this.className)" class="{{ mod.module_name }} {{ key }}mod" id="{{ mod.module_name }}"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>{{ mod.module_name }}</p>
                            </li>
                        {% endfor %}
                        <li><p style="background-color: #e8e8e8; font-weight:bold">Semester 2</p></li>
                        {% for key, mod in module12.items %}
                            <li class="toggleContent">
                                <p style="cursor: pointer;" onClick="mod_click(this.id, this.className)" class="{{ mod.module_name }} {{ key }}mod" id="{{ mod.module_name }}"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>{{ mod.module_name }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 t2">
                    <div class="col-head text-center">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        <h2>Year 2</h2>
                    </div>
                    <ul class="list-unstyled">
                        <li><p style="background-color: #e8e8e8; font-weight:bold">Semester 1</p></li>
                        {% for key, mod in module21.items %}
                            <li class="toggleContent">
                                <p style="cursor: pointer;" onClick="mod_click(this.id, this.className)" class="{{ mod.module_name }} {{ key }}mod" id="{{ mod.module_name }}"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>{{ mod.module_name }}</p>
                            </li>
                        {% endfor %}
                        <li><p style="background-color: #e8e8e8; font-weight:bold">Semester 2</p></li>
                        {% for key, mod in module22.items%}
                            <li class="toggleContent">
                                <p style="cursor: pointer;" onClick="mod_click(this.id, this.className)" class="{{ mod.module_name }} {{ key }}mod" id="{{ mod.module_name }}"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>{{ mod.module_name }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 t3">
                    <div class="col-head text-center">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        <h2>Year 3</h2>
                    </div>
                    <ul class="list-unstyled">
                        <li><p style="background-color: #e8e8e8; font-weight:bold">Semester 1</p></li>
                        {% for key, mod in module31.items%}
                            <li class="toggleContent">
                                {% if mod.module_code is 90 %}
                                    {% if isInternship %}
                                    <p style="cursor: pointer;" class="{{ mod.module_name }} {{ key }}mod" onClick="mod_click(this.id, this.className)" ><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                        <label style="cursor: pointer;"><input name="ci" type="radio" value="Internship" checked> Internship</label><span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </p></li>
                                    <li class="toggleContent">
                                        <p style="cursor: pointer;" class="Project {{ key }}mod" onClick="mod_click(this.id, this.className);" ><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                        <label style="cursor: pointer;"><input name="ci" type="radio" value="Capstone Project"> Project</label><span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </p></li>
                                    {% else %}
                                        <p style="cursor: pointer;" class="{{ mod.module_name }} {{ key }}mod" onClick="mod_click(this.id, this.className)" ><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                        <label style="cursor: pointer;"><input name="ci" type="radio" value="Internship"> Internship</label><span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        {% if isInternship is None%}
                                            <li class="toggleContent">
                                        <p style="cursor: pointer;" class="Project {{ key }}mod"  onClick="mod_click(this.id, this.className)" ><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                        <label style="cursor: pointer;"><input name="ci" type="radio" value="Capstone Project"> Project</label><span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </p></li>
                                         {% else %}
                                            <li class="toggleContent">
                                        <p style="cursor: pointer;" class="Project {{ key }}mod" onClick="mod_click(this.id, this.className)" ><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                        <label style="cursor: pointer;"><input name="ci" type="radio" value="Capstone Project" checked> Project</label><span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </p></li>
                                         {% endif %}
                                    </p></li>
                                    {% endif %}

                                {% else %}
                                    <p style="cursor: pointer;" onClick="mod_click(this.id, this.className)" class="{{ mod.module_name }} {{ key }}mod" id="{{ mod.module_name }}"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>{{ mod.module_name }}</p>
                                {% endif %}
                            </li>
                        {% endfor %}
                        <li><p style="background-color: #e8e8e8; font-weight:bold">Semester 2</p></li>
                        {% for key, mod in module32.items%}
                            <li class="toggleContent">
                                {% if mod.module_code is 90 %}
                                    <p style="cursor: pointer;" id="Internship" class="{{ mod.module_name }} {{ key }}mod" onClick="mod_click(this.id, this.className)" ><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                        <label style="cursor: pointer;"><input name="ci" type="radio" value="Internship" checked> Internship</label><span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </p></li>

                                    <li class="toggleContent">
                                        <p style="cursor: pointer;" id="Project" class="Project {{ key }}mod" onClick="mod_click(this.id, this.className)" ><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                        <label style="cursor: pointer;"><input name="ci" type="radio" value="Capstone Project"> Project</label><span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </p></li>
                                {% else %}
                                    <p style="cursor: pointer;" onClick="mod_click(this.id, this.className)" class="{{ mod.module_name }} {{ key }}mod" id="{{ mod.module_name }}"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>{{ mod.module_name }}</p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container todolist" id="descontainer" style="display:none; margin-bottom:50px; padding:30px; font-size:18px; border-top: 5px solid #30566e;">
            <div id="updatedbox">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <p id="alertmsgtext">Update successful!</p>
                </div>
            </div>
            <div class="btn-group row col-list" role="group" aria-label="..." data-toggle="buttons" id="interestelectives" style="font-weight:bold;"></div>
            <div class = "modselecteddiv"></div>
            <div class="row col-list modDescription"></div>


            <div id ="modcountdesc"></div>
            <div class="row col-list specials">
                <div class="btn-group specialelectives" role="group" aria-label="..." data-toggle="buttons"></div>
            </div>
             <button class="btn btn-primary" style="width:15%; display:none; float: right;" id="save-module-btn"> Save</button>
            <div class="row col-list specialmodsdesc"></div>


        </div>
        </div>
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

    </body>
</html>

{% load static %}
<script src="{% static 'js/ajaxpost.js' %}"></script>
<script>
    var currentstudent = document.getElementById ("studentname").innerText;
    var check_special = '&student=' + encodeURIComponent(currentstudent);

    $.get("/checkstudentspecialization/", check_special, function (data) {
        if (data.results != "") {
            specialchoice = data.results;
            $('#spec').html("Selected Specialization: <b>" + data.results + "</b>");
            document.getElementById("specialdropdown").style.display = 'none';

            var special_class = document.getElementsByClassName('Specialization Module');
            var free_class = document.getElementsByClassName('Freely Chosen Module');

            for (var i = 0 ; i < special_class.length ; i++) {
                var s = special_class[i];
                s.style.backgroundColor = "#d9edf7";
                $(s).html('Specialization Module <span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>');
                s.className += ' s' + i;
            }

            for (var i = 0 ; i < free_class.length ; i++) {
                var s = free_class[i];
                s.style.backgroundColor = "#d9edf7";
                $(s).html('Specialization Module <span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>');
                s.className += ' s' + i;
            }

            mod_click('Specialization Module', '');
        }
    });

    $.ajax({
        type: 'GET',
        url: '/specialisemodulesforstudent/',
        dataType: 'json',
        success: function (data) {
          if (data.specialise.length != 0) {
              for (var i = 0; i < data.specialise.length; i++) {
                  if (document.getElementById(data.specialise[i].module_name) != null) {
                      document.getElementById(data.specialise[i].module_name).style.backgroundColor = "#d9edf7";
                      var newcontent = document.createElement('div');
                      newcontent.innerHTML = '<span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>';
                      document.getElementById(data.specialise[i].module_name).appendChild(newcontent.firstChild);
                  }
              }
          }

          if (data.free.length != 0) {
              for (var i = 0; i < data.free.length; i++) {
                  if (document.getElementById(data.free[i].module_name) != null) {
                      document.getElementById(data.free[i].module_name).style.backgroundColor = "#d9edf7";
                      var newcontent = document.createElement('div');
                      newcontent.innerHTML = '<span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>';
                      document.getElementById(data.free[i].module_name).appendChild(newcontent.firstChild);
                  }
              }
          }
        }
    });
    var selected_special = "";

    function mod_click(clicked_id, clicked_class) {
        $('.specialelectives').empty();
        $('#interestelectives').empty();
        $('.specialmodsdesc').empty();


        document.getElementById("save-module-btn").style.display = 'none';

        var dataString = '&modname=' + encodeURIComponent(clicked_id);
        var special_class = document.getElementsByClassName('Specialization Module');
        var div_class = clicked_class.split(' ')[2];

        //only special_class not null is editable
{#        if(clicked_class.indexOf("Specialization Module") != -1) {#}
{#            console.log('enetered specialization');#}
        check_edit = parseInt(clicked_class.split(' ').pop());
        var data_edit_check = '&moduleselected=' + check_edit;
        $.ajax({
            type: 'GET',
            url: '/data_edit_check/',
            data: data_edit_check,
            dataType: 'json',
            success: function (data) {
                if (data.status == 'success') {
                    selected_special = parseInt(clicked_class.split(' ').pop());
                    for (var mod = 0; mod < data.specialise_mods.length; mod++) {
                        $('#interestelectives').html('<br/>Replace with another elective: ');
                        if (typeof(data.interest) != 'undefined') {
                            $('#interestelectives').append('<br/>');
                            for (var spec = 0; spec < data.interest.length; spec++) {
                                $('#interestelectives').append('<div class="currentinterest">' + data.interest[spec].course_specialization + " </div>");
                            }
                        }
                        $('.specialelectives').append('<label class="b1 btn btn-default"><input type="radio" name="options" autocomplete="off" value="' + data.specialise_mods[mod].module_name + '" id="mod' + mod + '" class="b1 btn btn-default ' + data.specialise_mods[mod].module_name + '">' + data.specialise_mods[mod].module_name + '</label>');
                    }
                    $("input[name=options]").change(function () {

                        document.getElementById("save-module-btn").style.display = 'block';
                        $('#interestelectives').empty();
                        var changediv = document.getElementsByClassName(div_class)[0];
                        $(changediv).html($("input[name=options]:checked").val());
                        $('.specialmodsdesc').html('<br/><b>' + $("input[name=options]:checked").val() + '</b>')
                        var s = $("input[name=options]:checked").val().replace('&amp;', '&');
                        var specialmod = '&modname=' + encodeURIComponent(s);
                        $('#interestelectives').html('<br/>Replace with another elective: ');
                        if (typeof(data.interest) != 'undefined') {
                            $('#interestelectives').append('<br/>');
                            for (var spec = 0; spec < data.interest.length; spec++) {
                                $('#interestelectives').append('<div class="currentinterest">' + data.interest[spec].course_specialization + " </div>");
                            }
                        }

                        $('#interestelectives').append('<inline style="font-weight:normal; font-size:16px; color: #31708f;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  ' + s + " is selected." + '</inline>');
                        $.get("/moddesc/", specialmod, function (data) {
                            $('.modDescription').empty();
                            $('.specialmodsdesc').html('<br/><p>' + data.des + '</p>');
                        });
                    });
                }
            }
        });
{#        }#}

        //alert(document.getElementById(clicked_id).innerText);
        if (document.getElementById(clicked_id) != null && typeof clicked_class.split(' ')[4] != 'undefined' && clicked_class.split(' ')[4].indexOf("free") != -1) {
            num_free = clicked_class.split(' ')[4].charAt(4)
            console.log('enter if clickedid, have free in class');
            fm_arr = document.getElementsByClassName('Specialization');
            var new_num_free = 0;

{#            for(var i =0; i < fm_arr.length; i++){#}
{#                var full_classname = fm_arr[i].getAttribute('class');#}
{#                if(full_classname.split(' ')[4].indexOf("free") != -1){#}
{#                    new_num_free++;#}
{#                  }#}
{#            }#}

            selected_special = parseInt(clicked_class.split(' ')[2]);
            var dataStringFree = '&modname=' + encodeURIComponent('Freely Chosen Module') + '&count=' + selected_special+ '&numfree=' + new_num_free;
            $('.modDescription').empty();
            $.ajax({
                type: 'GET',
                url: '/modcompare/',
                data: dataStringFree,
                dataType: 'json',
                success: function (data) {
                    $('html,body').animate({scrollTop: $("#descontainer").offset().top}, 'slow');

                    for (var mod = 0; mod < data.free.length; mod++) {

{#                        for (var spec = 0 ; spec < data.interest.length ; spec++) {#}
{#                            $('#interestelectives').append('<div class="currentinterest">' + data.interest[spec].course_specialization + " </div>");#}

{#                        }#}

{#                        $('.specialelectives').append('<label class="b1 btn btn-default"><input type="radio" name="options" autocomplete="off" value="' + data.free[mod].module_name + '" id="mod' + mod + '" class="b1 btn btn-default ' + data.free[mod].module_name + '">' + data.free[mod].module_name + '</label></div>');#}
                    }
                    $('#interestelectives').append('Showing Popular Modules:<br />');


                    for(var i = 0; i < data.fmarr.length; i++){
                        $('#interestelectives').append('<br /><div class="currentinterest">' + data.fmarr[i][0] + " </div><br /><br /><div>");
                        for(var j = 0; j < data.fmarr[i][1].length; j++) {
                            $('#interestelectives').append('<label class="b1 btn btn-default"><input type="radio" name="options" autocomplete="off" value="' + data.fmarr[i][1][j][0] + '" id="mod' + mod + '" class="b1 btn-default ' +data.fmarr[i][1][j][1]+ ' ' + data.fmarr[i][1][j][0] + '">' + data.fmarr[i][1][j][0] + ' ('+ data.fmarr[i][1][j][1] + ')' + '</label>');

                        }
                        $('#interestelectives').append('<div>');
                    }


                    $("input[name=options]").change(function () {
                        $('.modselecteddiv').empty();
                        var specname = $("input[name=options]:checked").val();
                        document.getElementById("save-module-btn").style.display = 'block';
                        var changediv = document.getElementsByClassName(div_class)[0];
                        $(changediv).html($("input[name=options]:checked").val());
                        $('.specialmodsdesc').html('<br/><b>' + specname + '</b>')
                        var s = specname.replace('&amp;', '&');
                        var specialmod = '&modname=' + encodeURIComponent(s);

                        $('.modselecteddiv').append('<br /><inline style="font-weight:normal; font-size:16px; color: #31708f;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  ' + s + " is selected.<br /><span class=\"glyphicon glyphicon-user\"></span> " +this.className.split(' ')[2] + " students have chosen this module." + '</inline>');

{#                        $('#interestelectives').append('<br /><inline style="font-weight:normal; font-size:16px; color: #31708f;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  ' + s + " is selected. " +this.className.split(' ')[2] + " students have selected this." + '</inline>');#}
                        $.get("/moddesc/", specialmod, function (data) {
                            $('.specialmodsdesc').append('<br/><p>' + data.des + '</p>');
                        });
                    });


                }
            });
        } else if (document.getElementById(clicked_id) && document.getElementById(clicked_id).id == "Specialization Module") {
            selected_special = parseInt(clicked_class.split(' ')[2]);
            var data_with_count = dataString + '&count=' + selected_special;

            $.ajax({
                type: 'GET',
                url: '/modcompare/',
                data: data_with_count,
                dataType: 'json',
                success: function (data) {
                    $('.modDescription').empty();
                    document.getElementById("descontainer").style.display = 'block';

                    $('html,body').animate({scrollTop: $("#descontainer").offset().top}, 'slow');
                    if (special_class.length > data.specialise_mods.length) {
                        var extraMods = special_class.length - data.specialise_mods.length;
                        for (var i = extraMods - 1; i >= 0; i--) {
                            num = i + 1;
                            var s = special_class[special_class.length - num];
                            s.style.backgroundColor = "#d9edf7";
                            $(s).html('Freely Chosen Module <span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>');
                            s.className += ' free' + i;
                        }
                    }

                    for (var mod = 0; mod < data.specialise_mods.length; mod++) {
                        $('#interestelectives').html('<br/>Select an elective:');
                        $('.specialelectives').append('<label class="b1 btn btn-default"><input type="radio" name="options" autocomplete="off" value="' + data.specialise_mods[mod].module_name + '" id="mod' + mod + '" class="b1 btn btn-default ' + data.specialise_mods[mod].module_name + '">' + data.specialise_mods[mod].module_name + '</label>');
                    }


                    $("input[name=options]").change(function () {
                        document.getElementById("save-module-btn").style.display = 'block';
                        $('#interestelectives').empty();
                        var changediv = document.getElementsByClassName(div_class)[0];
                        $(changediv).html($("input[name=options]:checked").val());
                        $('.specialmodsdesc').html('<br/><b>' + $("input[name=options]:checked").val() + '</b>')
                        var s = $("input[name=options]:checked").val().replace('&amp;', '&');
                        var specialmod = '&modname=' + encodeURIComponent(s);
                        $('#interestelectives').append('<br/>Select an elective:&nbsp; <inline style="font-weight:normal; font-size:16px; color: #31708f;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  ' + s + " is selected." + '</inline>');
                        $.get("/moddesc/", specialmod, function (data) {
                            $('.specialmodsdesc').append('<br/><p>' + data.des + '</p>');
                        });
                    });
                }
            });
        } else {
            console.log('under else', clicked_class);
            document.getElementById("descontainer").style.display = 'block';
            if(!dataString.split('=')[1]){
                dataString = dataString + clicked_class.split(' ')[0];
            }
            $('html,body').animate({scrollTop: $("#descontainer").offset().top}, 'slow');
            $.get("/moddesc/", dataString, function (data) {
                $('.modDescription').html('<h4><b>' + clicked_id + '</h4></b><p>' + String(data.des).split(".").join(".<br />") + '</p>');
            });
        }
    }

    $(function () {
        $('#updatedbox').hide();
        $.ajax({
            type: 'GET',
            url: '/specialisedropdown/',
            dataType: 'json',
            success: function (data) {
                var fields = data.results;
                if (fields.length != 0) {
                    var htmlToAppend = "";
                    for (var i = 0; i < fields.length; i++) {
                        htmlToAppend += '<li value="' + fields[i]  + '"><a id="link" href="#">' + fields[i] + '</a></li>'
                    }
                    $('#specialisedropdown').append(htmlToAppend);
                } else {
                    document.getElementById("specialdropdown").style.display = 'none';
                }
            }
        });
        $('.Internship').click(function (){
            $('#interestelectives').append('<button class="btn btn-default" id="saveInternship" onClick="updateInternship();"> Save Internship Option</button>');
        });

        $("p[class^='Project']").click(function (){
            $('#interestelectives').append('<button class="btn btn-default" id="saveProject" onClick="updateProject();"> Save Project Option</button>');
        });

    });

    function updateInternship(){
        $.post("/setinternshipoption/", function (data) {
            if (data.status == 'success') {
                $('#updatedbox').show();
                window.setTimeout(function() {
                    $('#updatedbox').fadeTo(500, 0).slideUp(500, function(){
                    });
                    location.reload();
                }, 2500);

             }
        });
    }

    function updateProject(){
        $.ajax({
             type:"POST",
             url:"/setprojoption/",
             success: function(data) {
                 if (data.status == 'success') {
                     $('#updatedbox').show();
                    window.setTimeout(function() {
                        $('#updatedbox').fadeTo(500, 0).slideUp(500, function(){
                            $('#updatedbox').hide();
                        });
                        location.reload();
                    }, 2500);

                 }
             }
        });
    }

    $(document).on('click', '#specialisedropdown li a', function () {
        $('.specialelectives').empty();
        $('#interestelectives').empty();
        $('.specialmodsdesc').empty();
        $("#selected").text($(this).parent().attr('value'));
        var special_div = $(this).parent().attr('value');
        specialchoice=special_div;
        var dataString = '&specialisechoice=' + encodeURIComponent(special_div);
        document.getElementById("success").style.display = 'block';
        $('#success').html('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> ' + $(this).parent().attr('value') + " is selected.");
        $.ajax({
            type: 'POST',
            url: '/modcompare/',
            data: dataString,
            success: function (data) {
                //alert(data)
                var special_class = document.getElementsByClassName('Specialization Module');

                mod_click('Specialization Module', '');
                for (var i = 0 ; i < special_class.length ; i++) {
                    var s = special_class[i];
                    s.style.backgroundColor = "#d9edf7";
                    $(s).html('Specialization Module <span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>');
                    s.className += ' s' + i;
                }
                var free_class = document.getElementsByClassName('Freely Chosen Module');
                for (var i = 0 ; i < free_class.length ; i++) {
                    var s = free_class[i];
                    s.style.backgroundColor = "#d9edf7";
                    $(s).html('Specialization Module <span style="float:right; color:#30566e;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>');
                    s.className += ' s' + i;
                }
            }
        });
    });

    $(".submitinterest").click(function(){

    });

    $("#save-module-btn").click(function () {
        var selected_mod = $('.btn-group > .btn.active').text();
        var s = $("input[name=options]:checked").val().replace('&amp;', '&');
        var dataString = '&moduleselected=' + encodeURIComponent(s) + '&specialselected=' + encodeURIComponent(specialchoice) + '&count=' + selected_special;
{#        alert(dataString)#}
        $.ajax({
            type: 'POST',
            url: '/savemodule/',
            data: dataString,
            success: function (data) {
                if (data.status == 'success') {
                    location.reload();
                }
            }
        });
    });

    $(document).ready(function(){
     $('#back-to-top').fadeOut();
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

        $(".alert button.close").click(function () {
            $(this).parent().fadeOut('fast');
        });

    });
</script>