{% load static %}
{% block bar %}
    {% include "base.html" %}
{% endblock %}
<!DOCTYPE html>
<html>
<head>
    {% url 'login' as login %}
    {% url 'recommendjob' as recommendjob %}
    {% url 'modulesearch' as modulesearch %}
    {% url 'admin_index' as admin_index %}
    {% url 'userprofile' as userprofile %}
    {% url 'transitionjobpage' as transitionjobpage %}
    {% url 'courserequirement' as courserequirement %}
    {% url 'personalinterest' as personalinterest %}
    {% url 'mbti' as mbti %}
    {% url 'logout' as logout %}
</head>

<body>
<header class="intro-header" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/is480firestorm/fog2.jpg); padding: 0 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Find jobs and other opportunities at NP's Career Advisory today!</h1>
                    <hr class="small">
                    <span class="subheading">A Platform that Brings You Closer to the Jobs You Wish To Explore</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <!-- Title -->
    <div class="row featurerow">
        <div class="col-lg-12">
            <h3>Features</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row featurerow text-center">
        <a href="{{ recommendjob }}">
        <div class="col-md-3 col-sm-6 feature_card">
            <div class="thumbnail">
                <img src="https://s3-ap-southeast-1.amazonaws.com/is480firestorm/lookout.jpg" alt="">
                <div class="caption_featurecard">
                    <h3>Explore Job Interest</h3>
                    <p>Real-time job offers available here</p>
                    <p>
                        <a href="{{ recommendjob }}" class="btn btn-primary">Explore</a>
                    </p>
                </div>
            </div>
        </div>
        </a>

        <div class="col-md-3 col-sm-6 feature_card"><a href="{{ courserequirement }}">
            <div class="thumbnail">
                <img src="https://s3-ap-southeast-1.amazonaws.com/is480firestorm/coursemap.jpg" alt="">
                <div class="caption_featurecard">
                    <h3>Module Planner</h3>
                    <p>Look at your prescribed modules!</p>
                    <p>
                        <a href="{{ courserequirement }}" class="btn btn-primary">Start Planning</a>
                    </p>
                </div>
            </div>
        </a></div>

{#        <div class="col-md-3 col-sm-6 feature_card">#}
{#            <div class="thumbnail">#}
{#                <img src="https://s3-ap-southeast-1.amazonaws.com/is480firestorm/coursemap.jpg" alt="">#}
{#                <div class="caption_featurecard">#}
{#                    <h3>Module Search</h3>#}
{#                    <p>Search for a module to view more details.</p>#}
{#                    <p>#}
{#                        <a href="{{ modulesearch }}" class="btn btn-primary">Explore</a>#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="col-md-3 col-sm-6 feature_card"><a href="{{ personalinterest }}">
            <div class="thumbnail">
                <img src="https://s3-ap-southeast-1.amazonaws.com/is480firestorm/collaborate.jpg" alt="">
                <div class="caption_featurecard">
                    <h3>Update Personal Interest</h3>
                    <p>Update current personal interest</p>
                    <p>
                        <a href="{{ personalinterest }}" class="btn btn-primary">Update Now</a>
                    </p>
                </div>
            </div>
        </a></div>
        <div class="col-md-3 col-sm-6 feature_card"><a href="{{ mbti }}">
            <div class="thumbnail">
                <img src="https://s3-ap-southeast-1.amazonaws.com/is480firestorm/personalityimg.jpg" alt="">
                <div class="caption_featurecard">
                    <h3>Do Personality Test</h3>
                    <p>Discover your personality type</p>
                    <p>
                        <a href="{{ mbti }}" class="btn btn-primary">Do Test</a>
                    </p>
                </div>
            </div>
        </a></div>
    </div>
</div><!-- /.container -->
<!-- /.row -->
</div><!-- /.container-fluid -->

</body>

{% load static %}
<script src="{% static 'js/ajaxpost.js' %}"></script>
</html>