{% block bar %}
   {% include "base.html" %}
{% endblock %}

<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/modulesearch-css.css' %}"/>
        <script src="{% static 'js/modulesearch-js.js' %}"/>
        <script src="{% static 'js/jquery.dataTables.js' %}"/>
    </head>
    <body>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="todolist not-done">
                        <h1 style="text-align:left">Module Search</h1>
                        <form method="post" action="/modsearch/">
                        {% csrf_token %}
                            <div class="input-group">
                            <input type="text" class="form-control add-todo" id="searchinput" placeholder="Add modules to planner">
                            <span class="input-group-btn">
                                <button class="btn btn-primary searchbutton" id="searchbtn" name="searchbtn">Search</button>
                            </span>
                            </div>
                        </form>
                        <hr>

                        <h3 id="searchtext" style="display:none;"></h3>

                        <div id="searchblock" style="display: none">
                            <table class="table table-bordered table-responsive" id="loaded-rows" class="display" cellspacing="5px" width="100%">
                                <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Module Name</th>
                                    <th>School</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="col-md-12" style="text-align:right; padding-top:40px">
                                <a class="btn btn-primary" href="#">Save <span class="glyphicon glyphicon-chevron-right"></span></a>
                            </div>
                        </div>
                        <div id="noresult" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% load static %}
<script src="{% static 'js/ajaxpost.js' %}"></script>
<script>
    $("#searchbtn").click(function (event) {
        event.preventDefault();
        var dataString = '&modsearch=' + $("#searchinput").val();
        $('#loaded-rows').DataTable().clear(); //remove previous search results
        $.ajax({
            type: 'POST',
            url: '/modsearch/',
            dataType: 'json',
            data: dataString,
            success: function(data) {
                var resultsSize = Object.keys(data.results).length;
                document.getElementById("searchtext").style.display = 'block';
                $("#searchtext").html("Search results for '" + data.searchinput + "'"); //display search term

                if (resultsSize == 0) { //undefined or invalid search
                    document.getElementById("noresult").style.display = 'block';
                    document.getElementById("searchblock").style.display = 'none';
                    $("#noresult").html("No results");
                } else {
                    if (resultsSize != 0) {
                        document.getElementById("noresult").style.display = 'none';
                        document.getElementById("searchblock").style.display = 'block';
                        var $resultTable=$('#loaded-rows').dataTable({
                            "bAutoWidth": false ,
                            aoColumns : [
                                  {"sWidth": "5%"},
                                  {"sWidth": "25%"},
                                  {"sWidth": "10%"},
                                  {"sWidth": "60%"}
                                ],
                            "bDestroy": true
                            });
                        for (i = 0; i < resultsSize; i++){
                            $resultTable.fnAddData([ //datatable's drawing of rows
                                "<div class='checkbox'><label><input type='checkbox' value='' /></label>",
                                data.results[i]['module_name'],
                                data.results[i]['school'],
                                String(data.results[i]['mod_description']).split(".").join(".<br />")
                            ]);
                        }
                    }
                }
            },
            error: function(xhr) {
                alert(xhr);
            }
        });
        return false;
    });
</script>