{% block bar %}
    {% include "base.html" %}
{% endblock %}
<style>
    .morecontent span {
        display: none;
    }

    .morelink {
        display: block;
    }
</style>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src={% static 'js/personalinterest-js.js' %}></script>

    <title>Job Preview</title>
</head>

<body>

<header class="intro-header"
        style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/is480firestorm/road.jpg); padding: 0 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Job Preview</h1>
                    <hr class="small">
                    <span class="subheading">List of jobs in current market based on selected job fields.</span>
                </div>
            </div>
        </div>
    </div>


</header>
<!-- Page Content -->
<div class="container todolist">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <br/><label>Filter By Specific Interest: </label>
            <button class="btn btn-primary" onclick="location.href='{% url 'courserequirement' %}'" style="float:right;">Proceed to Course Guidance</button>
            <h5 id="interestNames"></h5>
            <select class="js-example-basic-single col-lg-8 col-md-8 col-sm-8"  id="id_label_single">
            </select>
        <hr>
        </div>
    </div>
    <!-- /.row -->
    <button type="button" class="b1 btn btn-default" id="gov-btn">Public Sector</button>
    <button type="button" class="b1 btn btn-default" id="private-btn">Private Sector</button>
    <div id="job-content"></div>

</div>
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-placement="left"><span
        class="glyphicon glyphicon-chevron-up"></span></a>

<!-- /.row -->
<!-- /.container -->

</body>

</html>
<script src="{% static 'js/ajaxpost.js' %}"></script>
<script>
    $( document ).ready(function() {

        $(".js-example-basic-single").select2();

        $.get("/getstudentinterest/", function (data) {
            $('.js-example-basic-single').append(data);
        });

        $.ajax({
            type: 'GET',
            url: '/retrievestudentinterest/',
            dataType: 'json',
            success: function (data) {
{#                var arrayJobs = $.parseJSON(data.gov);//default display gov and private tgth upon load#}
{#                arrayJobs = arrayJobs.concat($.parseJSON(data.private));#}
{#                var htmlAppend = displayJob(arrayJobs);#}
{#                $('#job-content').append(htmlAppend);#}
                var dataString = '&interestFilter=' + encodeURIComponent($('.js-example-basic-single').val());
{#                alert(dataString);#}
                getJobArray(dataString, 'gov');
            }
        });

        $('.js-example-basic-single').change(function () {
            var dataString = '&interestFilter=' + encodeURIComponent($(this).val());
            var arrayJobs = [];
            if ($('#private-btn').is(':active')) {
                getJobArray(dataString, 'private');
            } else {
                getJobArray(dataString, 'gov');
            }
        });

        $('#gov-btn').on('click', function (e) {
            var dataString = '&interestFilter=' + encodeURIComponent($('.js-example-basic-single').val());
            var arrayJobs = getJobArray(dataString, 'gov');
            var htmlAppend = displayJob(arrayJobs);
            $('#job-content').html(htmlAppend);
        });

        $('#private-btn').on('click', function (e) {
            var dataString = '&interestFilter=' + encodeURIComponent($('.js-example-basic-single').val());
            var arrayJobs = getJobArray(dataString, 'private');
        });

    });

    function getJobArray(dataString, type) {
        $.ajax({
            type: 'GET',
            url: '/retrievestudentinterest/',
            data: dataString,
            dataType: 'json',
            success: function (data) {
                var arrayJobs = [];
                if (type == 'gov') {
                    arrayJobs = $.parseJSON(data.gov);
                } else {
                    console.log(data.private);
                    arrayJobs = $.parseJSON(data.private);
                }
                var htmlAppend = displayJob(arrayJobs);
                console.log(htmlAppend);
                $('#job-content').html(htmlAppend);
            }
        });
    }

    function displayJob(arrayJobs) {
        var htmlAppend = '';
        console.log(arrayJobs);
        if (arrayJobs.length != 0) {
            for (var i = 0; i < arrayJobs.length; i++) {
                var j = arrayJobs[i];
                var company = j.job_company;
                var pos = j.job_position;
                var desc = j.job_description;

                var desc = desc.split(/[;:\.•]+\s|[\r\n]|[\.](?=[A-Z])/g)

                {# Ensure every new line starts with uppercase#}
                for (var k = 0; k < desc.length; k++) {
                    var splitted = desc[k];
                    desc[k] = splitted.charAt(0).toUpperCase() + splitted.slice(1);
                }

                {# handle when words stick together egThis #}
                desc = desc.join("<br />");
                var matched = desc.match(/[a-z][A-Z]/g);
                if (matched) {
                    desc = desc.split(/[a-z][A-Z]/g);
                    for (var k = 0; k < matched.length; k++) {
                        var match = matched[k];
                        desc[k] = desc[k] + match.charAt(0);
                        desc[k + 1] = match.charAt(1) + desc[k + 1];
                    }
                    desc = desc.join("<br />");
                }

                var url = j.job_url;

                htmlAppend += "<div class='well'><h4>" + company + "</h4><br /><h5>" + pos + "</h5><br /><p class='expandable'>" + desc + "</p>" + "<a onclick='clickLinkFunc(this.href);' target='_blank' href='" + url + "'>More Info</a><br /></div><hr>";

            }
        } else {
            console.log('entered no results');
            htmlAppend += "<div class='well'><h3>No results found.</h3></div>"
        }
        return htmlAppend;
    }

    $(document).ready(function () {
        $('#back-to-top').fadeOut();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

    });

    function clickLinkFunc(link){
        console.log(link);
        var dataString = '&joburl=' + encodeURIComponent(link);
        $.ajax({
            type: 'POST',
            url: '/updateClickCount/',
            data: dataString,
            dataType: 'json',
            success: function (data) {
            }
        });
    }


</script>