{% block bar %}
    {% include "base.html" %}
{% endblock %}

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src={% static 'js/personalinterest-js.js' %}></script>

    <title>Job Recommendations</title>
    <h1>Interests indicated are: </h1>
</head>

<body>


<!-- Page Content -->
<div class="container todolist">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Job Recommendations</h1>
        </div>
    </div>
    <!-- /.row -->

    <div id="job-cotnent"></div>

{#    <!-- Project One -->#}
{#    <div class="row">#}
{#        <div class="col-md-7">#}
{#            <a href="#">#}
{#                <img class="img-responsive"#}
{#                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/2000px-Microsoft_logo_%282012%29.svg.png"#}
{#                     alt="">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-md-5">#}
{#            <h3>Microsoft</h3>#}
{#            <h4>Software Engineer</h4>#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita#}
{#                laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis#}
{#                atque eveniet unde.</p>#}
{#            <a class="btn btn-primary" href="#">Apply Now <span class="glyphicon glyphicon-chevron-right"></span></a>#}
{#        </div>#}
{#    </div>#}
{#    <!-- /.row -->#}
{##}
{#    <hr>#}
{##}
{#    <!-- Project Two -->#}
{#    <div class="row">#}
{#        <div class="col-md-7">#}
{#            <a href="#">#}
{#                <img class="img-responsive" src="http://photocdn.sohu.com/20151229/mp51210448_1451380271442_2.jpeg"#}
{#                     alt="">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-md-5">#}
{#            <h3>Apple</h3>#}
{#            <h4>Research & Development</h4>#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque#}
{#                repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam#}
{#                tempore.</p>#}
{#            <a class="btn btn-primary" href="#">Apply Now <span class="glyphicon glyphicon-chevron-right"></span></a>#}
{#        </div>#}
{#    </div>#}
{#    <!-- /.row -->#}
{##}
{#    <hr>#}
{##}
{#    <!-- Project Three -->#}
{#    <div class="row">#}
{#        <div class="col-md-7">#}
{#            <a href="#">#}
{#                <img class="img-responsive"#}
{#                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgN9nD2Hu6uC7XuvbWQG2HTX-IWFoHaOEl82ZyByae2AxhOLmO"#}
{#                     alt="">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-md-5">#}
{#            <h3>Uber</h3>#}
{#            <h4>Digital Marketer</h4>#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut#}
{#                unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti#}
{#                alias possimus!</p>#}
{#            <a class="btn btn-primary" href="#">Apply Now<span class="glyphicon glyphicon-chevron-right"></span></a>#}
{#        </div>#}

    </div>
    <!-- /.row -->

    <hr>
    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <div class="footer">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </div>

</div>
<!-- /.container -->

</body>

</html>
<script src="{% static 'js/ajaxpost.js' %}"></script>
<script>
    $(function () {
        {#initialize multiselect#}
        $('select').select2();
        $.ajax({
            type: 'GET',
            url: '/personalinterestsectordropdown/',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                var fields = data.results;
                var htmlToAppend = "";
                for (var i = 0; i < fields.length; i++) {
                    htmlToAppend += '<option value="' + fields[i] + '">' + fields[i] + '</option>'
                }
                $('.js-example-basic-multiple').append(htmlToAppend);
            }
        });

        $(".js-example-basic-multiple").select2();

        $.ajax({
            type: 'GET',
            url: '/retrievestudentinterest/',
            dataType: 'json',
            success: function (data) {
                var arrayJobs = $.parseJSON(data.results);
{#                console.log(arrayJobs[3]);#}
{#                console.log(arrayJobs[5]);#}
                for (var i = 0; i < arrayJobs.length; i++) {
                    var interestjobs = arrayJobs[i];
                    for (var i = 0; i < interestjobs.length; i++) {
                        var j = interestjobs[i];
                        var company = j.job_company;
                        var pos = j.job_position;
                        var desc = j.job_description;
                        var url = j.job_url;

                        var htmlAppend = "<h4>"+company+"</h4><br /><h5>"+pos+"</h5><br /><p>"+desc+"</p>"+"<a href='"+url+"'>Link</a><br /><hr>";
                    $('#job-cotnent').append(htmlAppend);
                    }


                }


            }
        });

    });
</script>