{% block bar %}
   {% include "base.html" %}
{% endblock %}

<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    </head>
    <body id="myPage">
        <!-- About -->
        <div class="about-me" id="about">
            <h3 class="text-center">User Profile</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="mydetails text-center">
                            <img class="img-circle img-responsive" src="../account/static/img/profile/man.jpg" alt="Generic placeholder image" width="200" height="200">
                            <h3 style="text-transform: capitalize">{{ student.name }}</h3>
                            <div class="personalinfo">
                            {{ student.email }}
                            <br/>
                            {{ course.course_name }}
                            <br/>
                            Year {{ student.current_year }}
                            <br/>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="myskills">
                            <h3 class="text-center">My Skill Info</h3>
                            <p class="skill-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="skill-info">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td><h4>Photoshop</h4></td>
                                                <td><span class="longline1"></span><span class="shortline1"></span></td>
                                                <td><p>89%</p></td>
                                            </tr>
                                            <tr>
                                                <td><h4>Multimedia</h4></td>
                                                <td><span class="longline2"></span><span class="shortline2"></span></td>
                                                <td><p>90%</p></td>
                                            </tr>
                                            <tr>
                                                <td><h4>After-Effects</h4></td>
                                                <td><span class="longline3"></span><span class="shortline3"></span></td>
                                                <td><p>95%</p></td>
                                            </tr>
                                            <tr>
                                                <td><h4>Wordpress</h4></td>
                                                <td><span class="longline4"></span><span class="shortline4"></span></td>
                                                <td><p>92%</p></td>
                                            </tr>
                                            <tr>
                                                <td><h4>HTML5</h4></td>
                                                <td><span class="longline5"></span><span class="shortline5"></span></td>
                                                <td><p>96%</p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /About -->
    </body>
</html>
{% load static %}
<script src="{% static 'js/ajaxpost.js' %}"></script>