{% block bar %}
   {% include "base.html" %}
{% endblock %}

<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin-bootstrap.css' %}"/>

    </head>
    <body id="myPage">
        <!-- About -->
        <div class="about-me" id="about">
            <br/><br/>
            <h3 class="text-center">User Profile</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="mydetails text-center">
                            <img class="img-circle img-responsive" src="https://s3-ap-southeast-1.amazonaws.com/is480firestorm/profilephotos/{{ student.user_id_id }}.png" alt="Generic placeholder image" width="150" height="150">
                            <div class="profile-img"></div>
                            <div class="box box-info">
                                <div class="btn-block">
                                    <form id="uploadUserPhotoForm" name="uploadUserPhotoForm" action="/uploadphoto/" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
{#                                            <label for="upload">Upload User Photo here</label for="upload">#}

                                            <p id="fileUploadError" class="text-danger hide"></p>

                                            <div class="list-group" id="files"></div>

                                            <script id="fileUploadProgressTemplate" type="text/x-jquery-tmpl">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                                </div>
                                            </script>

                                            <div class="box-body">
                                                <div class="alert alert-warning" id="alert-box" role="alert" style="display: none;"></div>
                                                <div class="alert alert-success" id="success" role="alert" style="display: none"></div>
                                            </div>
                                        </div>
                                            <div class="image-preview-filename" disabled="disabled"></div>
                                            <span class="input-group-btn">
                                            <!-- image-preview-clear button -->
                                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span> Clear </button>
                                            <!-- image-preview-input -->
                                            <div class="btn btn-default image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>

                                            <input type="file" class="form-control" id="photo_input" name="photo_input" accept="image/*"
                                               onchange="$('#upload-file-info').html(this.files[0].name)"/>
                                                <!-- rename it -->
                                            </div>
                                            <button type="button" class="btn btn-labeled btn-primary" id="photoBtn" name="photoBtn"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload Photo</button>
                                            </span>
                                    </form>
                                </div>
                            </div>
                            <br/>
                            <h2 style="text-transform: capitalize">{{ student.name }}</h2>
                            <br/>
                            <table align="center" style="font-size: 14px; max-width: 80%;">
                                <tr>
                                    <td align="left" style="padding-right: 15px;">Email:</td>
                                    <td align="left">{{ student.email }}</td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding-right: 15px;">Course:</td>
                                    <td align="left">{{ course.course_name }}</td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding-right: 15px;">Year:</td>
                                    <td align="left">{{ student.current_year }}</td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding-right: 15px;">MBTI:</td>
                                    <td align="left">{{ student.mbti_code_id }}</td>
                                </tr>
                            </table>
{#                            <div class="personalinfo">#}
{#                            {{ student.email }}#}
{#                            <br/>#}
{#                            {{ course.course_name }}#}
{#                            <br/>#}
{#                            Year {{ student.current_year }}#}
{#                            <br/>#}
{#                                MBTI: {{ student.mbti_code_id }}#}
{#                            </div>#}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /About -->
    </body>
</html>
{% load static %}
<script src="{% static 'js/ajaxpost.js' %}"></script>

<script>
    $(window).load(function() {
      $('img').each(function() {
        if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
          this.src = 'https://s3-ap-southeast-1.amazonaws.com/is480firestorm/profilephotos/generic.png';
        }
      });
    });

    $(document).ready(function(){
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
{#            alert('The file "' + fileName +  '" has been selected.');#}
            $('.image-preview-filename').html(fileName);
        });
    });


    $("#photoBtn").click(function (event) {
{#        alert("click!")#}

        var formData = new FormData($('#uploadUserPhotoForm')[0]);
        $.ajax({
            type: 'POST',
            url: '/uploadphoto/',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            xhr: function() {

            var xhr = $.ajaxSettings.xhr();
            if (xhr.upload) {
                xhr.upload.addEventListener('progress', function(event) {
                    //var percent = (event.loaded / event.total) * 100;
                    //var percent = 100;
                    //$("#files").find(".progress-bar").width(percent + "%");
                }, false);
            }
            return xhr;
        },
            success: function(data) {
                if (data.status == 'success') {
{#                    alert(data.message);#}
                    location.reload(true);
                } else {
                    document.getElementById("alert-box").style.display = 'block';
                    $("#alert-box").append(String(data.message).split(",").join("<br />"));
                    //alert(data.message);
                    $("#files").children().last().remove(); //remove progressbar
                    $('#uploadUserPhotoForm')[0].reset();
                }
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    });
</script>